<div class="well col-md-8 col-md-offset-2">
  <%= form_for @trip do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>

    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>

    <br><%= f.submit 'Add Trip', class: 'btn btn-primary' %>
  <% end %>

</div>
