<div class="well col-md-8 col-md-offset-2">
  <%= form_for @trip do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>

    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>

    <%= f.label :business, 'Places I visited' %> <br>
    <%= f.collection_check_boxes :business_ids, Business.all, :id, :name do |b| %>
      <%= b.label do %>
        <%= b.check_box + b.text %>
      <% end %>
    <% end %>
    <br>

    <br><%= f.submit 'Add Trip', class: 'btn btn-primary' %>
  <% end %>

</div>
