<div class="well col-md-8 col-md-offset-2">
  <%= form_for @trip do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>

    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>

    <%= f.label :business, 'Business' %>
    <%= f.collection_select :business_ids, Business.all, :id, :name, class: 'form-control' %>
    <br>

    <br><%= f.submit 'Add Trip', class: 'btn btn-primary' %>
  <% end %>

</div>
