<div class="well col-md-8">
  <%= form_for @trip, url: {controller: 'trips', action: 'create'} do |f| %>
    <%= render 'shared/error_messages' %>

    <p>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </p>

    <p>
      <%= f.label :description %>
      <%= f.text_area :description, rows: 10, class: 'form-control' %>
    </p>

    <p>
      <%= f.label :places_i_visited, 'Places I visited' %> <br>
      <%= f.collection_check_boxes :business_ids, Business.all, :id, :name do |b| %>
        <%= b.label do %>
          <%= b.check_box + b.text unless b.text.blank? %>
        <% end %>
      <% end %>
    </p>

    <div id="biz_choices">
      <%= f.label "Add new place" %> <br>
      <%= render partial: 'add_business', locals: { f: f } %>
    </div>

    <p>
      <button type="button" id="addNewChoice" class="btn btn-xs btn-success">Add another</button>
    </p>

    <p>
      <%= f.file_field :images, multiple: true %>
    </p>

  <p><%= f.submit 'Add Travel Story', class: 'btn btn-primary' %></p>

  <div style="display: none;" id="new_choice_form">
      <%= render partial: 'add_business', locals: { f: f } %>
  </div>
  <% end %>
</div>
