<%= form_for @trip do |f| %>
  <div>
    <%= f.label :title, "#{(@trip.errors.full_messages_for(:title).first)}" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description, "#{@trip.errors.full_messages_for(:description).first}" %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.submit 'Add Trip' %>
  </div>
<% end %>
