<div class="container">
  <div class="col-md-8">
    <h2><%= @trip.title %></h2>
    <p>by <%= link_to @trip.user.username, mytrips_path(@trip.user) %></p>
    <p><%= @trip.description %></p>
    <hr>
    <h4>Places I visited</h4>
    <% @trip.businesses.each do |biz| %>
      <ul>
        <li><%= biz.name %></li>
      </ul>
    <% end %>
  </div>
  <div id="comments" class="well col-md-6">
    <%= label_tag "Leave a comment" %> <br>
    <% if current_user %>
      <%= render partial: 'new_comment' %>
    <% else %>
      <%= link_to "You must be logged in to leave a comment.", new_user_session_path %>
    <% end %>
    <% @trip.comments.each do |comment| %>
    <div class="<%= cycle('well well-white', 'well') %>">
      Posted by <strong><%= comment.user.username %></strong> at <strong><%= local_time(comment.created_at) %></strong> <br>
      <%= comment.content %>
    </div>
    <% end %>
  </div>
</div>
