<div class="container">
  <div class=" well col-md-6">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render 'shared/devise_error_messages', object: f.object %>

      <p>
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true %>
      </p>

      <p>
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %>
      </p>

      <p>
        <%= f.label :username %><br />
        <%= f.text_field :username %>
      </p>

      <p>
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </p>

      <p id="password">
        <%= f.label :password%>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </p>

      <p id="password_confirmation">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </p>

      <p class="actions">
        <%= f.submit "Sign Up" %>
      </p>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
