<% content_for :head do %>
  <%= javascript_include_tag "trip_comments/trip_comments" %>
<% end %>

<div id="#editCommentForm">
  <%= form_for @comment, remote: true, html: { style: "display:inline;" }, data: { id: @comment.id } do |f| %>
  <div id="alert_explanation">
  </div>
    <p><%= f.label :content, "Edit comment" %>
      <%= f.text_area :content, rows: 5, class: 'form-control' %></p>
    <p><%= f.submit "Edit Comment", class: 'btn btn-sm btn-primary' %></p>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
$(function() {
  $('form').submit(function(event) {
    var commentId = parseInt($(this).attr('data-id'));
    var posting, values;
    posting = void 0;
    values = void 0;
    event.preventDefault();
    values = $(this).serialize();
    posting = $.post('/comments/' + commentId, values);
    posting.done(function(data) {
      var comment, commentText, timeCreated;
      comment = void 0;
      commentText = void 0;
      timeCreated = void 0;
      if (data['errors'] !== void 0) {
        $('#alert_explanation').append(errorDiv);
      } else {
        comment = data['comment'];
        timeCreated = moment(comment.created_at).format('LLL');
        commentText = 'Posted by <strong>';
        commentText += comment.user.username + '</strong> at ';
        commentText += '<strong>' + timeCreated + '</strong>';
        commentText += ' <br>' + comment.content;
        $('#comment-' + commentId).html(commentText);
      }
    });
  });
});
</script>
