<!DOCTYPE html>
<html>
<head>
  <title>Travsto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<!-- <% if controller_name == "welcome" %>
  <body class="body--change">
<% else %> -->
  <body>
<!-- <% end %> -->

<%= render 'layouts/navigation' %>
<div class="container">

  <% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %>

</div>
<%= yield %>
<hr>
<footer class="container">
  <small>&copy; 2016 Developed by <a href="http://www.brianemory.com">Brian Emory</a> | <a href="https://github.com/thebrianemory">GitHub <i class="fa fa-github"></i></a></small>
</footer>
</body>

</html>
