<!DOCTYPE html>
<html>
<head>
  <title>Travsto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navigation' %>
<div class="container">
  <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
  <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
  <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
</div>
<div class="container">
  <%= yield %>
</div>

<hr>
  <footer class="container">
    <small>&copy; 2016 Developed by <a href="http://www.brianemory.com">Brian Emory</a> | <a href="https://github.com/thebrianemory">GitHub <i class="fa fa-github"></i></a></small>
  </footer>
</body>
</html>
