<!DOCTYPE html>
<html>
<head>
  <title>Travsto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navigation' %>

<%= render 'layouts/flash' %>

<%= yield %>

<hr>
<footer class="container">
  <small>&copy; 2016 Developed by <a href="http://www.brianemory.com">Brian Emory</a> | <a href="https://github.com/thebrianemory/travsto">GitHub <i class="fa fa-github"></i></a></small>
</footer>

</body>

</html>
